[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "==2.20.0"
constructs = ">=10.0.0,<11.0.0"
boto3 = "*"

[dev-packages]
pytest = "==6.2.5"
black = "*"

[requires]
python_version = "3.8"
